<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container text-center">
<br>
<h1>About</h1>
<p>This password generator is brought to you by the hard working bots at Robot Monkey Automations.</p>
<p>If you like what you've seen, check us out at the link below.</p>

<a href="url">www.robotmonkeyautomations.com</a>
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
 </div>